.button {
  background: var(--blue-700);
  color: var(--gray-100);

  border-radius: var(--border-radius-base);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-weight: var(--font-bold);
  font-size: 0.875rem;

  padding: 1rem;
  border: 0;

  transition: background ease-in-out 0.2s;
}

.button:not(:disabled):hover {
  background: var(--blue-500);
}

.button:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
}
