:root {
  --white: #fff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --danger-500: #e25858;

  --purple-500: #8284fa;
  --purple-700: #5e60ce;

  --blue-500: #4ea8de;
  --blue-700: #1e6f9f;

  --line-height-base: 1.4;

  --font-regular: 400;
  --font-bold: 700;

  /* font size base - 16px */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  --border-radius-base: 0.5rem;
}

:focus {
  outline-color: var(--blue-500);
  outline-style: dashed;
  box-shadow: none;
  outline-width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-regular);
  font-size: 1rem;
}

/* mobile */
@media (max-width: 786px) {
  html {
    font-size: 87.5%;
  }
}
