.button {
  background: transparent;
  color: var(--gray-300);

  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;

  border: 0;
}

.button:hover {
  background: var(--gray-400);
  color: var(--danger-500);
}
